<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= course.title %> </title>
    <link rel="icon" href="https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/favicon-v2-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/enrollCourse.css">
    <link rel="stylesheet" href="../css/mypagesfooter.css">
    <link rel="stylesheet" href="../css/navBarStyle.css">
</head>
<body>
    <!--Nav bar-->
    <%- include("../partials/navbar")%> 
    <!-- top -->
    <div class="header">
        <div class="header-wrap"> 
            <div class="left-part">
                <div class="go-to-origin">
                    <ul>
                        <li><span ><a href="#">Browse</a></span> <span>></span> </li>
                        <li><span><a href="#">Data Science</a></span> <span>></span> </li>
                        <li><span><%= course.title %> </span></li>
                    </ul>
                </div>

                <div class="title">
                    <h1><span><%= course.title %> </span> </h1>
                </div>
                <% if(course.instructor.tag !== "") {%> 
                    <b class="ach"><span class="achivement"   title="<%= course.instructor.name %> is rated among the top instructor on Coursera "><b><%= course.instructor.tag %> </b></span></b>
                        <% } %> 
                    
                <div class="star-cont">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="no-of-review"> <b><%= course.rating %> </b> ratings</span> 
                </div>

                <div>
                    <p> <span><b><%= course.students %></b></span> already Enrolled</p>
                </div>

                <div class="instructor-profile">
                    <div class="inst-name">
                        <div><b>Instructor(s): </b><%= course.instructor.name %></div>
                    </div>
                    <div class="img-wraper">
                        <img src="<%= course.instructor.img %> " alt="Andrew Ng">
                    </div>
                </div>
                <div class="enrollment-wrap">
                    <button class="enroll">
                        <a href="<%=course._id %>/checkout">
                            <div class="free-enroll">Enroll for Free</div>
                            <div><%= course.starting_date %></div>
                        </a>
                    </button>
                </div>
            </div>

            <div class="rigth-part">
                <h3>Offered By</h3>
                <div class="un_logo">
                    <img src="<%= course.univercity.logo %>">
                </div>
            </div>
        </div>
    </div>
    <!-- Course nav-bar-->
    <div class="course-nav" >
        <div class="tabs-con">
            <div><a href="#abt"><span class="tab">About</span></a></div>
            <div><a href="#instructor"><span class="tab">Instructor</span></a></div>
            <div><a href="#"><span class="tab">Syllabus</span></a></div>
            <div><a href="#"><span class="tab">Review</span></a></div>
            <div><a href="#"><span class="tab">Enrollment Options</span></a></div>
            <div><a href="#"><span class="tab">FAQ</span></a></div>
        </div>
    </div>

<!--Content for course nav-bar -->
<div class="info">
    <div class="course-info">

        <div class="info-title">
            <h1 id="abt">About the Course</h1>
            <p><%= course.reviews %> recent views</p>
        </div>

       <div class="info-cont">
           <p><%= course.discreption %></p>
       </div>

        <div class="skills-tag">
            <div class="tg">
               <span class="tag-title">SKILLS YOU WILL GAIN</span> 
            </div>
            <div class="tags">
                <% course.skills.forEach(skill=>{%>
                    <div ><p><%= skill.title  %> </p></div>
               <% }) %> 
            </div>
        </div>

    </div>

    <div class="crs-prop">
        <!-- <% course.properties.forEach(prop=>{ %>


       <% }) %>  -->
        <div>
            <div class="prop-icon-con"><i class="fa fa-calendar"></i></div>
            <div class="prop-info-">
                <div class="prop-name">Flexible deadlines</div>
                <div class="prop-des">Reset deadlines in accordance to your schedule.</div>
            </div>
        </div>
        <div>
            <div class="prop-icon-con"><i class="fa fa-certificate"></i></div>
            <div class="prop-info-">
                <div class="prop-name">Shareable Certificate</div>
                <div class="prop-des">Earn a Certificate upon completion</div>
            </div>
        </div>
        <div>
            <div class="prop-icon-con"><i class="fa fa-globe"></i></div>
            <div class="prop-info-">
                <div class="prop-name">100% online</div>
                <div class="prop-des">Start instantly and learn at your own schedule.</div>
            </div>
        </div>
        <div>
            <div class="prop-icon-con"><i class="fa fa-clock-o"></i></div>
            <div class="prop-info-">
                <div class="prop-name">Approx. 61 hours to complete</div>
            </div>
        </div>
        <div>
            <div >
                <span class="prop-icon-con"> <i class="fa fa-commenting-o"></i></span></div>
            <div class="prop-info-">
                <div class="prop-name">English</div>
                <div class="prop-des">Subtitles: Arabic, French, Portuguese (European), Chinese (Simplified), Italian, Vietnamese, German, Russian, English, Hebrew, Spanish, Hindi, Japanese</div>
            </div>
        </div>
    </div>
</div>
<!---------------- Instructor bio --------------->
<div class="instructor_cont" id="instructor">
    <div><span class="part_title">Instructor</span></div>
    <div><span class="inst_rating">Instructor rating: <%= course.instructor.rating %> </span></div>
    <div class="instructor_bio">
        <div class="ins_pic">
            <img src="<%= course.instructor.img %> " alt="<%= course.instructor.name %>">
        </div>
        <div class="biodata">
            <div ><span class="ins_name"><%= course.instructor.name %></span>
                <% if(course.instructor.tag !== "") {%> 
                    <span class="achivement"   title="<%= course.instructor.name %> is rated among the top instructor on Coursera "><b><%= course.instructor.tag %> </b></span>
                        <% } %> 
            </div>
            <div class="occupation"><span><%= course.instructor.occupation %> </span></div>
            <div class="ach"><span><%= course.instructor.achivements%></span></div>
        </div>
    </div>
</div>

<!------------ univercity  --------------------->
<div class="un_cont">
    <div >
        <span class="part_title">Offered by</span>
    </div>
    <div class="un_data">
        <div class="univercity_logo">
            <img src="<%= course.univercity.of_logo %>">
           
        </div>
        <div class="un_about">
            <p><%= course.univercity.about %></p>
        </div>
    </div>
</div>
<!------------------- footer ------------------->
<%- include("../partials/coursefooter")  %> 

</body>
</html>
