<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Free Online Courses | Learn Online with Coursera</title>
    <link rel="icon" href="https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/favicon-v2-96x96.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/freeCourseStyle.css">
    <link rel="stylesheet" href="css/mypagesfooter.css">
    <link rel="stylesheet" href="css/navBarStyle.css">
</head>
<body>
    <!--Navigation bar-->
    <%- include("../partials/topNavbar")  %> 
        <!--Title of page-->
        <div class="head-cont">
            
            <div ><ul class="dir">
                <li><a href="#">Browse</a></li>
                <li>></li>
                <li>Free</li>
            </ul></div>
            <div>
                <h1 class="title-heading">Free Courses</h1>
            </div>
            
        </div>
        

        <!-- Filter area-->
        <div id="filter-con">
            <div class="no_of_results">
                <h3><span>Showing 1790 total results for "free"</span> </h3>
            </div>
            
            <div class="filter-opt" >
                <p>Filter By</p>
                <div class="sele-div">
                    <div class="lang">
                        <select>
                            <option selected hidden >Language</option>
                            <option>English</option>
                            <option>Spanish</option>
                            <option>Russian</option>
                            <option>Arabic</option>
                            <option>Hindi</option>
                            <option>Chines</option>
                            <option>Dutch</option>
                            <option>Greek</option>
                            <option>Turkish</option>
                            <option>Estonian</option>
                            <option>Bengali</option>
                            <option>Japanese</option>
                            <option>Italian</option>
                            
                        </select>
                    </div>
                    <div class="lavel">
                        <select id="level-option" onchange="filterElement()">
                            <option selected hidden >Level</option>
                            <option >Beginner</option>
                            <option >Mixed</option>
                            <option >Intermediate</option>
                            <option >Advance</option>
                        </select>
                    </div>
                    <div class="dur">
                        <select>
                            <option selected hidden >Duration</option>
                            <option>1-3 Months</option>
                            <option>1-4 Weeks</option>
                            <option>3+ Months</option>
                            <option>Less Than 2 Hours</option>
                        </select>
                    </div>
                    <div class="sub">
                        <select>
                            <option selected hidden >Subject</option>
                            <option>Social Sciences</option>
                            <option>Business</option>
                            <option>Health</option>
                            <option>Arts and Humanities</option>
                            <option>Computer Science</option>
                            <option>Data Science</option>
                        </select>
                    </div>
                    <div class="skill">
                        <select>
                            <option selected hidden >Skills</option>
                            <option>Entrepreneurship</option>
                            <option>Leadership and Management</option>
                            <option>Business Psychology</option>
                            <option>Research and Design</option>
                            <option>Communication</option>
                            <option>Mathematics</option>
                        </select>
                    </div>
                    <div class="prtner">
                        <select>
                            <option selected hidden >Partner</option>
                            <option>NAtional Taiwan University</option>
                            <option>Universidad Nacional Autónoma de México</option>
                            <option>HSE University</option>
                            <option>Peking University</option>
                            <option>University of Geneva</option>
                            <option>University of Michigan</option>
                        </select>
                    </div>
                   <div class="Lern-prod">
                    <select>
                        <option selected hidden >Learning Product</option>
                        <option>Guided Projects</option>
                        <option>Courses</option>
                       
                    </select>
                   </div>
                    
                </div>

            </div>
        </div>
        
        <!-- free cources -->
        <div id="main-course-Cont">
            <% for (course of courses){ %>

            <div class="course-cont" >
                <a href="/courses/<%=  course._id%> " target="new">
                        <div class="course">
                            <div class="image-cont">
                                <img src="<%= course.crs_logo %>" alt="<%= course.title%>">
                            </div>
                            <div class="info">
                                <div class="course-title"><h2><%= course.title%></h2></div>
                                <div class="un-name-wraper"><span class="university-name"><%= course.univercity.un_name%></span></div>
                                <div class="cs-wraper">
                                    <div class="type">
                                        <span>Course</span>
                                    </div>
                                </div>
                                   
                                <div class="star-cont">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    
                                    <span class="no-of-review"> <b><%= course.rating %></b> <span class="divider">|</span> <b><%= course.students%></b> Students</span>
                                     
                                </div>
                                <div class="dif-level">
                                    <span class="fa fa-signal"></span>
                                    <span class="crs-level"><%= course.level %></span>
                                </div>
                            </div>
                        </div>
                       
                </a> 
                <hr>
            </div>             
            <% } %>         
    </div>

    <!-------------------------------footer -------------------->
   <%- include("../partials/coursefooter")  %> 
    
</body>
</html>

<script>

let parent = document.getElementById("main-course-Cont");

let course = parent.querySelectorAll('.course-cont');

function filterElement(){
    let option = document.getElementById("level-option").value;

    let course = parent.querySelectorAll('.course-cont');

    for(let i = 0; i< course.length; i++){
            
        let crs_level = course[i].querySelector(".crs-level").innerHTML;
           
        course[i].style.display = "contents";
        if(crs_level != option){
            course[i].style.display = "none";
            }
    }
}



</script>