<!DOCTYPE html>
<html lang="en">

<head>

    <title><%=prog.program_name%> | Coursera</title>
    <link rel="icon" href="https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/favicon-v2-96x96.png" sizes="96x96">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel = "stylesheet" href = "/css/university.css">


  
</head>

<body>

    <!-- // Container containing all items -->

    <div id="container">
        <div id="notice"><a href ="#" style="color:white">Applications for the October cohort are due by November 1,2021 </a></div>


        <!--div containing get started box -->

        <div id="get_started">
            <div id="forText">
                <div id="empty_above_started"></div>

                <h3>Get Started today</h3>

                <p>Start your application or request more info.</p>

                <button  class="get_button"><a href="/register/<%=prog._id%>" id="apply">Apply</a></button>

                <button class="request_button">Request Info</button>
            </div>



        </div>


        <!--container containing logo and text(present in left hand side box) -->

        <div id="addmisions_container">



            <div id="s_list">
                <p>Online Degrees ><%=prog.program_name %> > Admissions</p>
            </div>





            <div id="logo">

                <img
                    src=<%=prog.imageUrl%>>

                <h1><%=prog.program_name %></h1>
                <h2><%=prog.offered_by %></h2>
                <button>Share</button>
            </div>




        </div>

        <div id="listItems">

            <ul>
                <li>Overview</li>
                <li>Admission</li>
                <li>Academic</li>
                <li>Tuition & Financing</li>
                <li>Student Experience</li>
                <li>Career</li>
                <li>About the University</li>

            </ul>
            <hr />



        </div>


        <div id="contect_lbox">

            <div id="left_box">
                <h1><%=prog.program_name%></h1>
                <p>Students in the <%=prog.program_name%> earn the same high-quality degrees that on-campus students have been
                    earning for decades--but without needing to put career or family life on hold. Students achieve
                    business mastery, gain lifelong leadership skills, and build a global network as they work alongside
                    fellow students and faculty.</p>

                <p>The iMBA program features live global classrooms via web conferencing, team projects, and personal
                    interaction with professors during virtual office hours. The nearly 2,000 students in the iMBA
                    family represent more than 90 countries and 48 states across the United States. The program was
                    hailed as a “breakthrough” by Poets & Quants, a leading authority on management education. The iMBA
                    is from Gies College of Business at the University of Illinois Urbana–Champaign, a historical
                    land-grant public research institution founded in 1867.</p>

            </div>

            <div id="right_box">

                <h3>$22,104 USD</h3>
                <p>Total Cost</p>
                <p>2 – 3 years</p>
                <p>72 credit hours | 18 courses plus three capstone projects</p>
                <p>Completely online</p>

            </div>
        </div>




    </div>





</body>

</html>

<!-- <script>

    function nextPage() {

        location.href = "register.ejs";
    }

    var applyBtn = document.getElementsByClassName("get_button")


</script> -->